BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "en0" SITE "1" ;
LOCATE COMP "inkey0[3]" SITE "91" ;
LOCATE COMP "inkey0[2]" SITE "92" ;
LOCATE COMP "inkey0[1]" SITE "93" ;
LOCATE COMP "inkey0[0]" SITE "94" ;
LOCATE COMP "clk00" SITE "61" ;
LOCATE COMP "outword0[6]" SITE "77" ;
LOCATE COMP "outword0[5]" SITE "78" ;
LOCATE COMP "outword0[4]" SITE "81" ;
LOCATE COMP "outword0[3]" SITE "82" ;
LOCATE COMP "outword0[2]" SITE "83" ;
LOCATE COMP "outword0[1]" SITE "84" ;
LOCATE COMP "outword0[0]" SITE "85" ;
LOCATE COMP "outtransist0[3]" SITE "76" ;
LOCATE COMP "outtransist0[2]" SITE "75" ;
LOCATE COMP "outtransist0[1]" SITE "74" ;
LOCATE COMP "outtransist0[0]" SITE "73" ;
LOCATE COMP "outrLED0[3]" SITE "59" ;
LOCATE COMP "outrLED0[2]" SITE "57" ;
LOCATE COMP "outrLED0[1]" SITE "56" ;
LOCATE COMP "outrLED0[0]" SITE "54" ;
LOCATE COMP "outr0[3]" SITE "96" ;
LOCATE COMP "outr0[2]" SITE "95" ;
LOCATE COMP "outr0[1]" SITE "98" ;
LOCATE COMP "outr0[0]" SITE "97" ;
LOCATE COMP "rw0" SITE "2" ;
LOCATE COMP "outFlag0" SITE "58" ;
LOCATE COMP "outcontW0[4]" SITE "99" ;
LOCATE COMP "outcontW0[3]" SITE "100" ;
LOCATE COMP "outcontW0[2]" SITE "104" ;
LOCATE COMP "outcontW0[1]" SITE "105" ;
LOCATE COMP "outcontW0[0]" SITE "106" ;
LOCATE COMP "outcontR0[4]" SITE "49" ;
LOCATE COMP "outcontR0[3]" SITE "47" ;
LOCATE COMP "outcontR0[2]" SITE "45" ;
LOCATE COMP "outcontR0[1]" SITE "43" ;
LOCATE COMP "outcontR0[0]" SITE "42" ;
LOCATE COMP "cdiv00[0]" SITE "5" ;
LOCATE COMP "cdiv00[1]" SITE "6" ;
LOCATE COMP "cdiv00[2]" SITE "9" ;
LOCATE COMP "cdiv00[3]" SITE "10" ;
LOCATE COMP "cdiv00[4]" SITE "11" ;
