BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "SL" SITE "1" ;
LOCATE COMP "LED" SITE "61" ;
LOCATE COMP "So[7]" SITE "91" ;
LOCATE COMP "So[6]" SITE "92" ;
LOCATE COMP "So[5]" SITE "93" ;
LOCATE COMP "So[4]" SITE "94" ;
LOCATE COMP "So[3]" SITE "96" ;
LOCATE COMP "So[2]" SITE "95" ;
LOCATE COMP "So[1]" SITE "98" ;
LOCATE COMP "So[0]" SITE "97" ;
LOCATE COMP "Bi[7]" SITE "19" ;
LOCATE COMP "Bi[6]" SITE "20" ;
LOCATE COMP "Bi[5]" SITE "21" ;
LOCATE COMP "Bi[4]" SITE "22" ;
LOCATE COMP "Bi[3]" SITE "132" ;
LOCATE COMP "Bi[2]" SITE "133" ;
LOCATE COMP "Bi[1]" SITE "24" ;
LOCATE COMP "Bi[0]" SITE "23" ;
LOCATE COMP "Ai[7]" SITE "5" ;
LOCATE COMP "Ai[6]" SITE "6" ;
LOCATE COMP "Ai[5]" SITE "9" ;
LOCATE COMP "Ai[4]" SITE "10" ;
LOCATE COMP "Ai[3]" SITE "11" ;
LOCATE COMP "Ai[2]" SITE "12" ;
LOCATE COMP "Ai[1]" SITE "13" ;
LOCATE COMP "Ai[0]" SITE "14" ;
