IOBUF PORT "OP" IO_TYPE=LVCMOS25 ;

LOCATE COMP "clr0" SITE "1" ;

LOCATE COMP "OP" SITE "4" ;

LOCATE COMP "ROWS[0]" SITE "91" ;
LOCATE COMP "ROWS[1]" SITE "92" ;
LOCATE COMP "ROWS[2]" SITE "93" ;
LOCATE COMP "ROWS[3]" SITE "94" ;

LOCATE COMP "COLS[0]" SITE "96" ;
LOCATE COMP "COLS[1]" SITE "95" ;
LOCATE COMP "COLS[3]" SITE "97" ;
LOCATE COMP "COLS[2]" SITE "98" ;

LOCATE COMP "LCD_RS0" SITE "113" ;
LOCATE COMP "LCD_ENABLE0" SITE "115" ;
LOCATE COMP "LCD_RW0" SITE "117" ;

LOCATE COMP "cdiv00[3]" SITE "11" ;
LOCATE COMP "cdiv00[2]" SITE "12" ;
LOCATE COMP "cdiv00[1]" SITE "13" ;
LOCATE COMP "cdiv00[0]" SITE "14" ;

LOCATE COMP "LCD_DATA0[0]" SITE "120" ;
LOCATE COMP "LCD_DATA0[1]" SITE "119" ;
LOCATE COMP "LCD_DATA0[3]" SITE "121" ;
LOCATE COMP "LCD_DATA0[2]" SITE "122" ;
LOCATE COMP "LCD_DATA0[4]" SITE "126" ;
LOCATE COMP "LCD_DATA0[5]" SITE "125" ;
LOCATE COMP "LCD_DATA0[6]" SITE "128" ;
LOCATE COMP "LCD_DATA0[7]" SITE "127" ;

LOCATE COMP "clk0" SITE "61" ;

LOCATE COMP "LED_1" SITE "58" ;

LOCATE COMP "ROWSLED[3]" SITE "59" ;
LOCATE COMP "ROWSLED[2]" SITE "57" ;
LOCATE COMP "ROWSLED[1]" SITE "56" ;
LOCATE COMP "ROWSLED[0]" SITE "54" ;

LOCATE COMP "COLSLED[3]" SITE "55" ;
LOCATE COMP "COLSLED[2]" SITE "52" ;
LOCATE COMP "COLSLED[1]" SITE "50" ;
LOCATE COMP "COLSLED[0]" SITE "48" ;
