BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "cdiv00[4]" SITE "26" ;
LOCATE COMP "cdiv00[3]" SITE "25" ;
LOCATE COMP "cdiv00[2]" SITE "28" ;
LOCATE COMP "cdiv00[1]" SITE "27" ;
LOCATE COMP "cdiv00[0]" SITE "33" ;
LOCATE COMP "en0" SITE "1" ;
LOCATE COMP "ins0[0]" SITE "14" ;
LOCATE COMP "ins0[1]" SITE "13" ;
LOCATE COMP "ins0[2]" SITE "12" ;
LOCATE COMP "ins0[3]" SITE "11" ;
LOCATE COMP "ins0[4]" SITE "10" ;
LOCATE COMP "ins0[5]" SITE "9" ;
LOCATE COMP "ins0[6]" SITE "6" ;
LOCATE COMP "ins0[7]" SITE "5" ;
LOCATE COMP "clk00" SITE "107" ;
LOCATE COMP "outs0[0]" SITE "48" ;
LOCATE COMP "outs0[1]" SITE "50" ;
LOCATE COMP "outs0[2]" SITE "52" ;
LOCATE COMP "outs0[3]" SITE "55" ;
LOCATE COMP "outs0[4]" SITE "54" ;
LOCATE COMP "outs0[5]" SITE "56" ;
LOCATE COMP "outs0[7]" SITE "59" ;
LOCATE COMP "outs0[6]" SITE "57" ;
LOCATE COMP "sel0[1]" SITE "3" ;
LOCATE COMP "sel0[0]" SITE "4" ;
