BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "inData0[3]" SITE "132" ;
LOCATE COMP "inData0[2]" SITE "133" ;
LOCATE COMP "outTransist0[3]" SITE "76" ;
LOCATE COMP "outTransist0[2]" SITE "75" ;
LOCATE COMP "outTransist0[1]" SITE "74" ;
LOCATE COMP "outTransist0[0]" SITE "73" ;
LOCATE COMP "outBCD0[6]" SITE "77" ;
LOCATE COMP "outBCD0[5]" SITE "78" ;
LOCATE COMP "outBCD0[4]" SITE "81" ;
LOCATE COMP "outBCD0[3]" SITE "82" ;
LOCATE COMP "outBCD0[2]" SITE "83" ;
LOCATE COMP "outBCD0[1]" SITE "84" ;
LOCATE COMP "outBCD0[0]" SITE "85" ;
LOCATE COMP "outPC0[0]" SITE "54" ;
LOCATE COMP "outAC120[10]" SITE "52" ;
LOCATE COMP "outAC120[9]" SITE "50" ;
LOCATE COMP "outAC120[8]" SITE "48" ;
LOCATE COMP "outAC120[7]" SITE "49" ;
LOCATE COMP "outAC120[6]" SITE "47" ;
LOCATE COMP "outAC120[5]" SITE "45" ;
LOCATE COMP "outAC120[4]" SITE "43" ;
LOCATE COMP "outAC120[3]" SITE "42" ;
LOCATE COMP "outAC120[2]" SITE "44" ;
LOCATE COMP "outAC120[1]" SITE "39" ;
LOCATE COMP "outAC120[0]" SITE "41" ;
LOCATE COMP "outCode0[3]" SITE "99" ;
LOCATE COMP "outCode0[2]" SITE "100" ;
LOCATE COMP "outCode0[1]" SITE "104" ;
LOCATE COMP "outCode0[0]" SITE "105" ;
LOCATE COMP "outFlagPC0" SITE "106" ;
LOCATE COMP "outFlagMP0" SITE "107" ;
LOCATE COMP "outFlagIterB0" SITE "40" ;
LOCATE COMP "outFlagIterA0" SITE "38" ;
LOCATE COMP "cdiv00[4]" SITE "5" ;
LOCATE COMP "cdiv00[3]" SITE "6" ;
LOCATE COMP "cdiv00[2]" SITE "9" ;
LOCATE COMP "cdiv00[1]" SITE "10" ;
LOCATE COMP "cdiv00[0]" SITE "11" ;
LOCATE COMP "cdiv01[3]" SITE "26" ;
LOCATE COMP "cdiv01[2]" SITE "25" ;
LOCATE COMP "cdiv01[1]" SITE "28" ;
LOCATE COMP "cdiv01[0]" SITE "27" ;
LOCATE COMP "enable0" SITE "1" ;
LOCATE COMP "reset0" SITE "4" ;
LOCATE COMP "inData0[7]" SITE "19" ;
LOCATE COMP "inData0[6]" SITE "20" ;
LOCATE COMP "inData0[5]" SITE "21" ;
LOCATE COMP "inData0[4]" SITE "22" ;
LOCATE COMP "inData0[1]" SITE "24" ;
LOCATE COMP "inData0[0]" SITE "23" ;
LOCATE COMP "clk00" SITE "61" ;
LOCATE COMP "clk001" SITE "60" ;
