BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;

LOCATE COMP "clk00" SITE "61" ;

LOCATE COMP "enable0" SITE "1" ;

LOCATE COMP "cdiv00[4]" SITE "2" ;
LOCATE COMP "cdiv00[3]" SITE "3" ;
LOCATE COMP "cdiv00[2]" SITE "4" ;
LOCATE COMP "cdiv00[1]" SITE "5" ;
LOCATE COMP "cdiv00[0]" SITE "6" ;

LOCATE COMP "funct0[5]" SITE "9" ;
LOCATE COMP "funct0[4]" SITE "10" ;
LOCATE COMP "funct0[3]" SITE "11" ;
LOCATE COMP "funct0[2]" SITE "12" ;
LOCATE COMP "funct0[1]" SITE "13" ;
LOCATE COMP "funct0[0]" SITE "14" ;

LOCATE COMP "inregRS0[7]" SITE "19" ;
LOCATE COMP "inregRS0[6]" SITE "20" ;
LOCATE COMP "inregRS0[5]" SITE "21" ;
LOCATE COMP "inregRS0[4]" SITE "22" ;
LOCATE COMP "inregRS0[3]" SITE "132" ;
LOCATE COMP "inregRS0[2]" SITE "133" ;
LOCATE COMP "inregRS0[1]" SITE "24" ;
LOCATE COMP "inregRS0[0]" SITE "23" ;

LOCATE COMP "inregRT0[7]" SITE "26" ;
LOCATE COMP "inregRT0[6]" SITE "25" ;
LOCATE COMP "inregRT0[5]" SITE "28" ;
LOCATE COMP "inregRT0[4]" SITE "27" ;
LOCATE COMP "inregRT0[3]" SITE "33" ;
LOCATE COMP "inregRT0[2]" SITE "32" ;
LOCATE COMP "inregRT0[1]" SITE "35" ;
LOCATE COMP "inregRT0[0]" SITE "34" ;

LOCATE COMP "outalu0[7]" SITE "59" ;
LOCATE COMP "outalu0[6]" SITE "57" ;
LOCATE COMP "outalu0[5]" SITE "56" ;
LOCATE COMP "outalu0[4]" SITE "54" ;
LOCATE COMP "outalu0[3]" SITE "55" ;
LOCATE COMP "outalu0[2]" SITE "52" ;
LOCATE COMP "outalu0[1]" SITE "50" ;
LOCATE COMP "outalu0[0]" SITE "48" ;

LOCATE COMP "outFlagInst0" SITE "39" ;

LOCATE COMP "outFlagac0" SITE "41" ;
