BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk0" SITE "61" ;
LOCATE COMP "en0" SITE "1" ;
LOCATE COMP "cdiv0[4]" SITE "10" ;
LOCATE COMP "cdiv0[3]" SITE "11" ;
LOCATE COMP "cdiv0[2]" SITE "12" ;
LOCATE COMP "cdiv0[1]" SITE "13" ;
LOCATE COMP "cdiv0[0]" SITE "14" ;
LOCATE COMP "outtransist0[3]" SITE "76" ;
LOCATE COMP "outtransist0[2]" SITE "75" ;
LOCATE COMP "outtransist0[1]" SITE "74" ;
LOCATE COMP "outtransist0[0]" SITE "73" ;
LOCATE COMP "outcont0[4]" SITE "91" ;
LOCATE COMP "outcont0[3]" SITE "92" ;
LOCATE COMP "outcont0[2]" SITE "93" ;
LOCATE COMP "outcont0[1]" SITE "94" ;
LOCATE COMP "outcont0[0]" SITE "96" ;
LOCATE COMP "outword0[6]" SITE "77" ;
LOCATE COMP "outword0[5]" SITE "78" ;
LOCATE COMP "outword0[4]" SITE "81" ;
LOCATE COMP "outword0[3]" SITE "82" ;
LOCATE COMP "outword0[2]" SITE "83" ;
LOCATE COMP "outword0[1]" SITE "84" ;
LOCATE COMP "outword0[0]" SITE "85" ;
