BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "cdiv00[4]" SITE "5" ;
LOCATE COMP "cdiv00[3]" SITE "6" ;
LOCATE COMP "cdiv00[2]" SITE "9" ;
LOCATE COMP "cdiv00[1]" SITE "10" ;
LOCATE COMP "cdiv00[0]" SITE "11" ;
LOCATE COMP "enable0" SITE "1" ;
LOCATE COMP "clk00" SITE "97" ;
LOCATE COMP "outbcd70[6]" SITE "77" ;
LOCATE COMP "outbcd70[5]" SITE "78" ;
LOCATE COMP "outbcd70[4]" SITE "81" ;
LOCATE COMP "outbcd70[3]" SITE "82" ;
LOCATE COMP "outbcd70[2]" SITE "83" ;
LOCATE COMP "outbcd70[1]" SITE "84" ;
LOCATE COMP "outbcd70[0]" SITE "85" ;
LOCATE COMP "outtran0[3]" SITE "76" ;
LOCATE COMP "outtran0[2]" SITE "75" ;
LOCATE COMP "outtran0[1]" SITE "74" ;
LOCATE COMP "outtran0[0]" SITE "73" ;
