BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "cdiv0[4]" SITE "40" ;
LOCATE COMP "cdiv0[3]" SITE "38" ;
LOCATE COMP "cdiv0[2]" SITE "41" ;
LOCATE COMP "cdiv0[1]" SITE "39" ;
LOCATE COMP "cdiv0[0]" SITE "44" ;
LOCATE COMP "clk0" SITE "110" ;
