BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "en0" SITE "1" ;
LOCATE COMP "rw0" SITE "4" ;
LOCATE COMP "cdiv0[4]" SITE "10" ;
LOCATE COMP "cdiv0[3]" SITE "11" ;
LOCATE COMP "cdiv0[2]" SITE "12" ;
LOCATE COMP "cdiv0[1]" SITE "13" ;
LOCATE COMP "cdiv0[0]" SITE "14" ;
LOCATE COMP "clk0" SITE "61" ;
LOCATE COMP "outtransist0[3]" SITE "73" ;
LOCATE COMP "outtransist0[2]" SITE "74" ;
LOCATE COMP "outtransist0[1]" SITE "75" ;
LOCATE COMP "outtransist0[0]" SITE "76" ;
LOCATE COMP "outword0[6]" SITE "77" ;
LOCATE COMP "outword0[5]" SITE "78" ;
LOCATE COMP "outword0[4]" SITE "81" ;
LOCATE COMP "outword0[3]" SITE "82" ;
LOCATE COMP "outword0[2]" SITE "83" ;
LOCATE COMP "outword0[1]" SITE "84" ;
LOCATE COMP "outword0[0]" SITE "85" ;
LOCATE COMP "inkey0[0]" SITE "91" ;
LOCATE COMP "inkey0[1]" SITE "92" ;
LOCATE COMP "inkey0[2]" SITE "93" ;
LOCATE COMP "inkey0[3]" SITE "94" ;
LOCATE COMP "outr0[1]" SITE "95" ;
LOCATE COMP "outr0[0]" SITE "96" ;
LOCATE COMP "outr0[3]" SITE "97" ;
LOCATE COMP "outr0[2]" SITE "98" ;
LOCATE COMP "outrled0[3]" SITE "99" ;
LOCATE COMP "outrled0[2]" SITE "100" ;
LOCATE COMP "outrled0[1]" SITE "104" ;
LOCATE COMP "outrled0[0]" SITE "105" ;
LOCATE COMP "outcontR0[4]" SITE "54" ;
LOCATE COMP "outcontR0[3]" SITE "55" ;
LOCATE COMP "outcontR0[2]" SITE "52" ;
LOCATE COMP "outcontR0[1]" SITE "50" ;
LOCATE COMP "outcontR0[0]" SITE "48" ;
LOCATE COMP "outcontW0[4]" SITE "43" ;
LOCATE COMP "outcontW0[3]" SITE "42" ;
LOCATE COMP "outcontW0[2]" SITE "44" ;
LOCATE COMP "outcontW0[1]" SITE "39" ;
LOCATE COMP "outcontW0[0]" SITE "41" ;
LOCATE COMP "outFlagcoder0" SITE "60" ;
LOCATE COMP "outFlagram0" SITE "58" ;
