BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "Aa[0]" SITE "1" ;
LOCATE COMP "Aa[1]" SITE "2" ;
LOCATE COMP "Aa[2]" SITE "3" ;
LOCATE COMP "Aa[3]" SITE "4" ;
LOCATE COMP "Aa[4]" SITE "5" ;
LOCATE COMP "Aa[5]" SITE "6" ;
LOCATE COMP "Aa[6]" SITE "9" ;
LOCATE COMP "Aa[7]" SITE "10" ;
LOCATE COMP "Ba[0]" SITE "19" ;
LOCATE COMP "Ba[1]" SITE "20" ;
LOCATE COMP "Ba[2]" SITE "21" ;
LOCATE COMP "Ba[3]" SITE "22" ;
LOCATE COMP "Ba[4]" SITE "132" ;
LOCATE COMP "Ba[5]" SITE "133" ;
LOCATE COMP "Ba[6]" SITE "24" ;
LOCATE COMP "Ba[7]" SITE "23" ;
LOCATE COMP "Ya[0]" SITE "91" ;
LOCATE COMP "Ya[1]" SITE "92" ;
LOCATE COMP "Ya[2]" SITE "93" ;
LOCATE COMP "Ya[3]" SITE "94" ;
LOCATE COMP "Ya[4]" SITE "96" ;
LOCATE COMP "Ya[5]" SITE "95" ;
LOCATE COMP "Ya[6]" SITE "98" ;
LOCATE COMP "Ya[7]" SITE "97" ;
