BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk00" SITE "61" ;
LOCATE COMP "outtransist0[3]" SITE "76" ;
LOCATE COMP "outtransist0[2]" SITE "75" ;
LOCATE COMP "outtransist0[1]" SITE "74" ;
LOCATE COMP "outtransist0[0]" SITE "73" ;
LOCATE COMP "outword0[6]" SITE "77" ;
LOCATE COMP "outword0[5]" SITE "78" ;
LOCATE COMP "outword0[4]" SITE "81" ;
LOCATE COMP "outword0[3]" SITE "82" ;
LOCATE COMP "outword0[2]" SITE "83" ;
LOCATE COMP "outword0[1]" SITE "84" ;
LOCATE COMP "outword0[0]" SITE "85" ;
LOCATE COMP "outcont0[3]" SITE "49" ;
LOCATE COMP "outcont0[2]" SITE "47" ;
LOCATE COMP "outcont0[1]" SITE "45" ;
LOCATE COMP "outcont0[0]" SITE "43" ;
LOCATE COMP "enr0" SITE "1" ;
LOCATE COMP "cdiv00[4]" SITE "5" ;
LOCATE COMP "cdiv00[3]" SITE "6" ;
LOCATE COMP "cdiv00[2]" SITE "9" ;
LOCATE COMP "cdiv00[1]" SITE "10" ;
LOCATE COMP "cdiv00[0]" SITE "11" ;
