BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;

LOCATE COMP "vector_entrada[7]" SITE "5" ;
LOCATE COMP "vector_entrada[6]" SITE "6" ;
LOCATE COMP "vector_entrada[5]" SITE "9" ;
LOCATE COMP "vector_entrada[4]" SITE "10" ;
LOCATE COMP "vector_entrada[3]" SITE "11" ;
LOCATE COMP "vector_entrada[2]" SITE "12" ;
LOCATE COMP "vector_entrada[1]" SITE "13" ;
LOCATE COMP "vector_entrada[0]" SITE "14" ;

LOCATE COMP "vector_salida[15]" SITE "59" ;
LOCATE COMP "vector_salida[14]" SITE "57" ;
LOCATE COMP "vector_salida[13]" SITE "56" ;
LOCATE COMP "vector_salida[12]" SITE "54" ;
LOCATE COMP "vector_salida[11]" SITE "55" ;
LOCATE COMP "vector_salida[10]" SITE "52" ;
LOCATE COMP "vector_salida[9]" SITE "50" ;
LOCATE COMP "vector_salida[8]" SITE "48" ;
LOCATE COMP "vector_salida[7]" SITE "49" ;
LOCATE COMP "vector_salida[6]" SITE "47" ;
LOCATE COMP "vector_salida[5]" SITE "45" ;
LOCATE COMP "vector_salida[4]" SITE "43" ;
LOCATE COMP "vector_salida[3]" SITE "42" ;
LOCATE COMP "vector_salida[2]" SITE "44" ;
LOCATE COMP "vector_salida[1]" SITE "39" ;
LOCATE COMP "vector_salida[0]" SITE "41" ;
