BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "Ai[3]" SITE "40" ;
LOCATE COMP "Ai[2]" SITE "38" ;
LOCATE COMP "Ai[1]" SITE "41" ;
LOCATE COMP "Ai[0]" SITE "39" ;
LOCATE COMP "Bi[3]" SITE "49" ;
LOCATE COMP "Bi[2]" SITE "47" ;
LOCATE COMP "Bi[1]" SITE "50" ;
LOCATE COMP "Bi[0]" SITE "48" ;
LOCATE COMP "SL" SITE "71" ;
LOCATE COMP "So[3]" SITE "115" ;
LOCATE COMP "So[2]" SITE "117" ;
LOCATE COMP "So[1]" SITE "113" ;
LOCATE COMP "So[0]" SITE "114" ;
